.toolbar{
   
       position:fixed; 
       width:100%;
       background: #02765492;
       top:0;
       left:0; 
       height:56px; 

}
.toolbar__navigation{
 display:flex;
 height:100%; 
 align-items:center; 
 padding : 0 1rem; 
}

.toolbar__logo a{

   color:white;
   text-decoration:none; 
   font-size:1.5rem; 
   
}

.toolbar__logo{

    margin-left:1rem; 

}

.spcer{
    flex:1; 
}

.toolbar_navigation_items a{
      color: white; 
      text-decoration : none; 
    
}

.toolbar_navigation_items ul{
list-style:none;
margin: 0;
padding:0; 
display:flex;

}

.toolbar_navigation_items li{
       padding:0 2.5rem;   

}


.toolbar_navigation_items Button:hover,
.toolbar_navigation_items Button:active {
       color:#505063; 
        cursor:pointer; 
}


